.nowrap {
  white-space: nowrap;
}

body {
  background-color: #DDD;
  padding-top: 70px;
}

a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

h1 {
  letter-spacing: -0.05em;
  margin-bottom: 22px;
}
@media (max-width: 992px) {
  h1 {
    font-size: 28px;
  }
}

h2, h3 {
  letter-spacing: -0.05em;
  font-weight: 700;
}

h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 22px;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
}

h4 {
  letter-spacing: -0.05em;
  font-weight: 500;
  font-size: 26px;
}

h5 {
  color: #DF2B19;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 22px;
}

p {
  line-height: 180%;
  margin-bottom: 22px;
}

body, html {
  height: 100%;
}

#pagewrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  padding: 0 10px 80px 10px;
}

footer {
  position: relative;
  height: 80px;
  width: 100%;
  color: #CCC;
}

footer > div {
  background: #111;
  padding: 20px;
}
@media (min-width: 992px) {
  footer > div {
    background: url(i/noise.png) #111;
    box-shadow: inset 0 20px 20px -10px black;
    -webkit-box-shadow: inset 0 20px 20px -10px black;
    -ms-box-shadow: inset 0 20px 20px -10px black;
    -moz-box-shadow: inset 0 20px 20px -10px black;
    -o-box-shadow: inset 0 20px 20px -10px black;
  }
}

footer p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.navbar {
  text-transform: lowercase;
  font-size: 120%;
}

.navbar-transluscent .navbar-brand {
  color: #DF2B19;
  font-size: 150%;
}

.navbar-transluscent {
  background: #EFEFEF;
}
@media (min-width: 992px) {
  .navbar-transluscent {
    background: url(i/noise.png) rgba(255, 255, 255, 0.6);
    transition: background 1s;
    -webkit-transition: background 1s;
    -ms-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
  }
}

@media (min-width: 992px) {
  .navbar-transluscent:hover {
    background: url(i/noise.png) rgba(255, 255, 255, 0.9);
  }
}

.navbar-transluscent .navbar-nav > li > a:hover {
  color: #DF2B19;
}

.navbar-transluscent .navbar-nav > li > a {
  outline: 0;
}

.navbar-transluscent .navbar-nav > .active > a,
.navbar-transluscent .navbar-nav > .active > a:hover,
.navbar-transluscent .navbar-nav > .active > a:focus {
  background: #FFF;
}
@media (min-width: 992px) {
  .navbar-transluscent .navbar-nav > .active > a,
.navbar-transluscent .navbar-nav > .active > a:hover,
.navbar-transluscent .navbar-nav > .active > a:focus {
    transition: background 1s;
    -webkit-transition: background 1s;
    -ms-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    background: rgba(255, 255, 255, 0.6);
  }
}

.img-responsive {
  margin: 0 auto;
}

.panel {
  background-color: #EFEFEF;
  border: 2px solid #DDD;
}
@media (min-width: 992px) {
  .panel {
    background: url(i/noise.png) rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
    border: 0px none;
  }
}

.panel-footer {
  border-top: none;
  background: #DDD;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.modal-caption {
  display: none;
}

.panel-footer-flush,
.modal-footer-flush {
  padding: 0px;
}

.panel-footer-flush .btn,
.modal-footer-flush .btn {
  border-radius: 2px;
  border-width: 2px;
  font-size: 100%;
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  text-transform: uppercase;
}

.modal-responsive .modal-dialog {
  width: 95%;
}

.modal-responsive .img-responsive {
  padding: 15px;
  margin: 0 auto;
}

.modal-header {
  color: #FFF;
  background-color: #DF2B19;
}

.modal-header h3 {
  text-transform: uppercase;
  text-align: left;
  padding: 0;
}

.modal-content {
  background-image: url(i/noise.png);
}

.modal-body {
  background-color: #FFF;
  color: #333;
}

.modal-body p {
  padding: 10px 15px;
  margin: 0;
  font-size: 18px;
}

.modal-footer {
  margin-top: 0;
  border-top: 0 none;
}

.modal-backdrop {
  opacity: 0.8;
}

.parallax-background {
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  left: 50%;
  margin: -70px auto 0 -960px;
  top: 0;
  border-bottom: 1000px solid #000;
}
@media (min-width: 768px) {
  .parallax-background {
    display: block;
  }
}

.img-modal-enabled {
  cursor: pointer;
}

.img-main {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.img-main-briefcase {
  position: relative;
  top: -30px;
}

.main-heading {
  margin-bottom: 0.5em;
}

.work-featured-container {
  position: relative;
  margin: 0 auto 20px auto;
  padding: 0;
  max-width: 400px;
}

.work-featured-item {
  display: block;
  margin-bottom: 0px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 -5px 20px -10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 -5px 20px -10px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 -5px 20px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 -5px 20px -10px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 -5px 20px -10px rgba(0, 0, 0, 0.8);
}
.work-featured-item h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  margin-bottom: 5px;
  width: 100%;
  color: #000;
  opacity: 0.8;
  bottom: 0;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  padding-left: 5px;
  transition: opacity 0.7s;
  -webkit-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
}
.work-featured-item:hover {
  z-index: 2;
  overflow: visible;
}
.work-featured-item:hover h4 {
  opacity: 1;
  margin-bottom: 5px;
}
.work-featured-item:hover img {
  opacity: 1;
}
.work-featured-item img {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom-width: 0;
  display: block;
  padding-bottom: 0px;
  margin: 0 auto;
  opacity: 0.5;
}
.work-featured-item:last-child img {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-width: 1px;
}
.work-featured-item:first-of-type img {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
}

.logo-grid {
  margin: 0 auto 40px auto;
  text-align: center;
}

.caption {
  display: none;
}

.logo-grid-item {
  display: inline-block;
  margin: 2px;
  position: relative;
}

.logo-grid-item .img-responsive {
  max-height: 64px;
  width: auto;
  opacity: 0.9;
}
@media (min-width: 1200px) {
  .logo-grid-item .img-responsive {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -ms-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
  }
}

.logo-grid-item:hover .img-responsive {
  opacity: 1;
}
@media (min-width: 1200px) {
  .logo-grid-item:hover .img-responsive {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -ms-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
  }
}

.flex-video {
  position: relative;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-video-caption {
  font-size: 80%;
  text-align: center;
}

.youtube-thumbnail {
  cursor: pointer;
  top: 0;
  z-index: 10;
}

.youtube-play {
  position: absolute;
  cursor: pointer;
  color: #FFF;
  font-size: 48px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0.5;
}
.youtube-play:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube-play:hover {
  opacity: 0.9;
}

.portfolio-content {
  margin: 0 auto;
}

.project-container {
  padding: 10px 0px 20px 0px;
  margin-bottom: 60px;
  margin: 0 auto;
  max-width: 960px;
}

.project-container .project-image,
.project-container > .col {
  margin-bottom: 20px;
}

.project-container .project-skills-list {
  padding-left: 15px;
}

@media (min-width: 992px) {
  .project-container:nth-child(even) > .col {
    float: right;
  }
}

@font-face {
  font-family: "Mono Social Icons Font";
  src: url("../fonts/MonoSocialIconsFont-1.10.eot");
  src: url("../fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("../fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.symbol, a.symbol:before {
  font-family: "Mono Social Icons Font";
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

span.symbol {
  margin-left: -0.2em;
  margin-right: -0.1em;
  padding: 0;
  font-size: 200%;
  display: inline-block;
}