//***STEVEN RABULAN***//

//////////////////////
//VARIABLES
//////////////////////

$brand-primary:         #DF2B19;
$brand-secondary:       #DF6B29;

//////////////////////
//MIXINS
//////////////////////

//Vendor Prefix
//USE: @include vendor-prefix([css-property], [value])
@mixin vendor-prefix($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
}

//Breakpoint targeted CSS
//USE: @include breakpoint(large-device) {[css-property]: [value]; }
//NOTE: Bootstrap 3.0 default breakpoints are 1200, 992, 768 and 480px.
@mixin breakpoint($point) {
  @if $point == large-device-lower {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == medium-device-lower {
    @media (max-width: 992px) { @content; }
  }
  @else if $point == small-device-lower {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == x-small-device-lower {
    @media (max-width: 480px)  { @content; }
  }
  //apply to device size and larger
  @else if $point == large-device-higher {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == medium-device-higher {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == small-device-higher {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == x-small-device-higher {
    @media (min-width: 480px)  { @content; }
  }
}

.nowrap {
	white-space: nowrap;
}

//////////////////////
//THEME
//////////////////////

body {
  background-color:#DDD;
  padding-top: 70px; //fixes navbar-fixed-top cutting off content
}
a {
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}
h1 {
  letter-spacing: -.05em;
  margin-bottom: 22px;
  @include breakpoint(medium-device-lower) {font-size:28px; }
}
h2, h3 {
  letter-spacing: -.05em;
  font-weight: 700;
}
h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 22px;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
}
h4 {
  letter-spacing: -.05em;
  font-weight: 500;
  font-size: 26px;
}
h5 {
  color: $brand-primary;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 22px;
}
p {
  line-height: 180%;
  margin-bottom: 22px;
}
//Sticky Footer
body, html {height: 100%;}
#pagewrap { 
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px; //match footer height
  padding: 0 10px 80px 10px; //match footer height
}
footer {
  position: relative;
  height: 80px; //match footer height
  width: 100%;
  color: #CCC;
}

footer > div {
  @include breakpoint(medium-device-higher) {
    background: url(i/noise.png) #111;
    @include vendor-prefix(box-shadow, inset 0 20px 20px -10px rgba(0,0,0,1));
  }
  background: #111;
  padding: 20px;
}
footer p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
}

//////////////////////
//BOOTSTRAP TWEAKS
//////////////////////
.navbar {
  text-transform: lowercase;
  font-size: 120%;
}
.navbar-transluscent .navbar-brand {
  color: $brand-primary;
  font-size: 150%;
}
.navbar-transluscent {
  background: #EFEFEF;
  @include breakpoint(medium-device-higher) {
    background: url(i/noise.png) rgba(255,255,255,.6);
    @include vendor-prefix(transition, background 1s);
  }
}
.navbar-transluscent:hover {
  @include breakpoint(medium-device-higher) {
    background: url(i/noise.png) rgba(255,255,255,.9);
  }
}
.navbar-transluscent .navbar-nav > li > a:hover {
  color: $brand-primary;
}
.navbar-transluscent .navbar-nav > li > a {
  outline: 0;
}
.navbar-transluscent .navbar-nav > .active > a,
.navbar-transluscent .navbar-nav > .active > a:hover,
.navbar-transluscent .navbar-nav > .active > a:focus {
  background: #FFF;
  @include breakpoint(medium-device-higher) {
    @include vendor-prefix(transition, background 1s);
    background: rgba(255,255,255,.6);
  }
}
.img-responsive { margin: 0 auto;}
.panel {
  background-color: #EFEFEF;
  border: 2px solid #DDD;
  @include breakpoint(medium-device-higher) {
    background: url(i/noise.png) rgba(255,255,255,.8);
    @include vendor-prefix(box-shadow, 0 10px 20px 5px rgba(0,0,0,.5));
    border: 0px none;
  }
}
.panel-footer {
  border-top: none;
  background: #DDD;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.modal-caption {
  display: none;
}
.panel-footer-flush,
.modal-footer-flush {
  padding: 0px;}
.panel-footer-flush .btn,
.modal-footer-flush .btn {
  border-radius: 2px;
  border-width: 2px;
  font-size: 100%;
  @include vendor-prefix(border-top-left-radius, 0);
  @include vendor-prefix(border-top-right-radius, 0);
  text-transform: uppercase;
}
.modal-responsive .modal-dialog{width: 95%;}
.modal-responsive .img-responsive{
  padding: 15px;
  margin: 0 auto;
}
.modal-header {
  color: #FFF;
  background-color: $brand-primary;
}
.modal-header h3 {
  text-transform: uppercase;
  text-align: left;
  padding: 0;
}
.modal-content {background-image: url(i/noise.png);}
.modal-body {
  background-color: #FFF;
  color: #333;
}
.modal-body p{
  padding: 10px 15px;
  margin: 0;
  font-size: 18px;
}
.modal-footer {
  margin-top: 0;
  border-top: 0 none;
}
.modal-backdrop {opacity: .8;}

//////////////////////
//CUSTOM
//////////////////////
.parallax-background {
  display: none;
  @include breakpoint(small-device-higher) {display: block;}
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  left: 50%;
  margin: -70px auto 0 -960px;
  top: 0;
  border-bottom: 1000px solid #000;
}
.img-modal-enabled {
  cursor: pointer;
}

//Top Elements
.img-main {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}
.img-main-briefcase {
  position: relative;
  top: -30px;
}
.main-heading {margin-bottom:.5em;}

//Featured Work
.work-featured-container {
  position: relative;
  margin: 0 auto 20px auto;
  padding: 0;
  max-width: 400px;
}
.work-featured-item {
  display: block;
  margin-bottom: 0px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  @include vendor-prefix (box-shadow, 0 -5px 20px -10px rgba(0,0,0,.8));

  h4 { 
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.05em;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    margin-bottom: 5px;
    width: 100%;
    color: #000;
    opacity: .8;
    bottom: 0;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    padding-left: 5px;
    @include vendor-prefix (transition, opacity .7s);
  }

  &:hover {
    z-index: 2;
    overflow:visible;

    h4 {
      opacity: 1;
      margin-bottom: 5px;
    }

    img {
    	opacity: 1;
    }
  }

  img {
    border: 1px solid rgba(0,0,0,.5);
    border-bottom-width: 0;
    display: block;
    padding-bottom: 0px;
    margin: 0 auto;
    opacity: .5;
  }

  &:last-child img {
    @include vendor-prefix(border-bottom-left-radius, 10px);
    @include vendor-prefix(border-bottom-right-radius, 10px);
    border-bottom-width: 1px;
  }

  &:first-of-type img {
    @include vendor-prefix(border-top-left-radius, 10px);
    @include vendor-prefix(border-top-right-radius, 10px);
  }
}

//Client Logos
.logo-grid {
  margin: 0 auto 40px auto;
  text-align: center;
}
.caption {
  display: none;
}
.logo-grid-item {
  display: inline-block;
  margin: 2px;
  position: relative;
}
.logo-grid-item .img-responsive {
  max-height: 64px;
  width: auto;
  @include breakpoint(large-device-higher) {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    @include vendor-prefix (transition, all 400ms);
  }
  opacity: .9;
}
.logo-grid-item:hover .img-responsive {
  @include breakpoint(large-device-higher) {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    @include vendor-prefix (transition, all 400ms);
  }
  opacity: 1;
}

//Flex Video
.flex-video {
  position: relative;
  //add padding-top: 25px;
  //add padding-bottom: 67.5%;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //add z-index: 10;
  //add display: block;
}
.flex-video-caption {
  font-size: 80%;
  text-align: center;
}
.youtube-thumbnail {
  cursor: pointer;
  top: 0;
  z-index:10; //changes to 5
  //add position: absolute;
}
.youtube-play {
  position: absolute;
  cursor: pointer;
  color: #FFF;
  font-size: 48px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: .5;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.youtube-play:hover {
  opacity: .9;
}
//Project Container
.portfolio-content {
  margin: 0 auto;
}
.project-container {
  padding: 10px 0px 20px 0px;
  margin-bottom: 60px;
  margin: 0 auto;
  max-width: 960px;
}
.project-container .project-image,
.project-container > .col{
  margin-bottom: 20px;
}
.project-container .project-skills-list {
  padding-left: 15px;
}

.project-container:nth-child(even) > .col {
  @include breakpoint(medium-device-higher) {
  float: right; //Every other project pulls col-8 (image) to the right
  }
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
span.symbol {
  margin-left: -.2em;
  margin-right: -.1em;
  padding: 0;
  font-size: 200%;
  display: inline-block;
}
